<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dicoding.netflock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Netflock"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.dicoding.netflock.favorite.FavoriteActivity"/>
        <activity
            android:name="com.dicoding.netflock.detail.DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName="com.dicoding.netflock.HomeActivity"
            android:theme="@style/Theme.Netflock.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicoding.netflock.HomeActivity" />
        </activity>
        <activity android:name="com.dicoding.netflock.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>